@charset "utf-8";
/* CSS Document */

body{
	margin-top:0%;
	margin-left:0%;}

#mini_logo{
	top:5%;
	left:1%;
	position:absolute;}
	
#bts{
	top:10%;
	left:5%;
	position:absolute;}

#barra{
	vertical-align:central;
	width:100%;
	height:50px;
	background-image:url(../img/bk_bar.png);
	background-repeat:repeat-x;}
	
#player{
	top:10%;
	right:2%;
	position:absolute;
	background-image:url(../img/bk_play.png);
	background-repeat:no-repeat;}